.avatar {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: var(--border-color);
  font-size: 0.85em;

  img {
    width: 100%;
  }
}
