.pm-input {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  min-width: 0;
  background-color: var(--background-color);
  background-image: none;
  border: 1px solid #d9d9d9;
  border-style: solid;
  border-radius: 6px;
  color: var(--text-color);
  outline: none;
  font-size: 1em;
  transition: all 0.3s;

  &:hover,
  &:focus {
    border-color: var(--active-color);
  }

  &::placeholder{
    color: #d9d9d9;
  }
}
