.milestones {
  background-color: var(--background-color);
  width: 882px;

  .milestone-header {
    margin-top: 15px;
  }

  .milestones-next-button {
    margin-top: 15px;
    text-align: center;
  }
}
