.milestone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color-list);
  transition: 0.3s ease;

  &.create {
    border: 2px dashed var(--active-color-border);
    background-color: var(--active-color-background);
    border-style: border;
    border-width: 2px;

    &:hover {
      cursor: pointer;
      border-color: var(--active-color);
    }
  }

  &-first,
  &-last {
    display: flex;
    align-items: center;

    & > img {
      width: 30px;
      height: 30px;
    }

    & > span.title {
      margin-left: 10px;
    }
  }

  .avatar-group{
    margin: 0 15px;
  }
}
