.milestone-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color-list);
  box-sizing: border-box;
  height: 76px;
  transition: 0.4s ease;

  &.create {
    position: relative;
    border: 2px dashed var(--active-color-border);
    background-color: var(--active-color-background);
    border-style: border;
    border-width: 2px;
  }

  &:hover {
    cursor: pointer;
    border-color: var(--active-color);
    transition: 0.4s ease;
  }

  &-first,
  &-last {
    display: flex;
    align-items: center;

    & > img {
      width: 30px;
      height: 30px;
    }

    & > span.title {
      margin-left: 10px;
    }
  }

  .avatar-group {
    margin: 0 15px;
  }
}

.milestone-body {
  background-color: var(--background-color-list);
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 0 0 6px 6px;
  border-top: 0;
}

.card {
  max-width: 250px;
}
