.project-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;


  & > h1,
  & > p {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .milestones {
    margin-top: 50px;
  }
}
