.progress-container {
  height: 10px;
  width: 250px;
  background-color: var(--border-color);
  border-radius: 5px;

  .progress {
    background-color: var(--active-color);
    height: inherit;
    border-radius: inherit;

    &.complete {
      background-color: var(--success);
    }
  }

  .description {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    font-weight: 400;
    font-size: 0.8em;
  }
}

